@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  border: 1px solid #000;
  border-top: none;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[data-ripple] {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-animation: button-circle 1.5s ease forwards;
          animation: button-circle 1.5s ease forwards;
}

@-webkit-keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

@keyframes button-circle {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(10);
            transform: scale(10);
    opacity: 0;
  }
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
  line-height: 1.1;
  /* 111.228% */
  letter-spacing: 0.025rem;
  text-transform: uppercase;
}

.name {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name__image--01 {
  position: absolute;
  z-index: 5;
  width: 100%;
  max-width: 34.6875rem;
}

.name__image--02 {
  position: relative;
  z-index: 1;
  max-width: 41rem;
  width: 100%;
}

.stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: calc(100% + 2.5625em);
  position: relative;
  left: -1.25rem;
}

.stroke::before,
.stroke::after {
  content: "";
  position: absolute;
  width: calc(100% + 2.5em);
}

.stroke::before {
  border-top: 1px solid #000;
  top: 0;
}

.stroke::after {
  border-bottom: 1px solid #000;
  bottom: 0;
}

.stroke__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: stroke 5s linear infinite;
          animation: stroke 5s linear infinite;
}

.stroke__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stroke__text p {
  text-align: center;
  font-size: 1.0625rem;
  line-height: 1.5;
  /* 152.471% */
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  white-space: nowrap;
}

.stroke__text img {
  padding: 0rem 1.875rem;
}

@-webkit-keyframes stroke {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@keyframes stroke {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }

  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

.stroke--big {
  left: 0rem;
}

.stroke--big::before,
.stroke--big::after {
  display: none;
}

.stroke--big .stroke__item {
  -webkit-animation: stroke 10s linear infinite;
          animation: stroke 10s linear infinite;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 40;
}

.header._header-scroll {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr auto 1fr 1fr;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__button {
  background: #FB4B4D;
  color: #FFF;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  padding: 0.9375rem 2.75rem;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.header__menu {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo::before,
.header__logo::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 1.0625rem;
  height: 1.0625rem;
  border: 1px solid #000;
  border-radius: 50%;
}

.header__logo::before {
  background: #FB4B4D;
  left: 0;
}

.header__logo::after {
  right: 0;
  background: #8B83F6;
}

.menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  display: -ms-grid;
  display: grid;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 0.1875rem;
}

.menu__link {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
  color: #222;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #000;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.icon-menu {
  -ms-grid-column-align: end;
      justify-self: end;
  display: none;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 1fr))[2];
  grid-template-columns: repeat(2, minmax(50%, 1fr));
}

.hero__images {
  background-color: #fff;
  position: relative;
}

.hero__images::after {
  content: "";
  position: absolute;
  right: 0;
}

.hero__image img {
  width: 100%;
}

.hero__info {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero__title {
  max-width: 33.5rem;
  margin: 0 auto;
}

.hero__info-image {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
}

.hero__info-image::after {
  content: "";
  position: absolute;
  width: calc(100% + 2.6875em);
  border-top: 1px solid #000;
  top: 0;
}

.hero__info-image img {
  max-width: 100%;
}

.throwlava__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: minmax(auto, 16%) minmax(auto, 68%) minmax(auto, 16%);
  grid-template-columns: minmax(auto, 16%) minmax(auto, 68%) minmax(auto, 16%);
}

.throwlava__icon {
  width: 100%;
}

.throwlava__title {
  max-width: 49.0625rem;
  margin: 0 auto;
}

.throwlava__icon--2 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.items__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19.375rem, 37.5rem))[3];
  grid-template-columns: repeat(3, minmax(19.375rem, 37.5rem));
}

.item {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__bg-image {
  position: absolute;
  z-index: 0;
  padding-bottom: 151%;
  width: 100%;
}

.item__bg-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.item__body {
  position: relative;
  z-index: 2;
  padding-top: 8.125rem;
}

.item__subtitle {
  font-size: 1.125rem;
  line-height: 1.6;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
}

.item__image {
  overflow: hidden;
  border-radius: 0.9rem;
  border: 1px solid #000;
}

.item__image img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.image__container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.image__container img {
  width: 100%;
  min-height: 18.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.story__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.story__info {
  max-width: 43.3125rem;
  margin: 0 auto;
}

.story__review {
  margin: 0 auto;
}

.info-story__title {
  max-width: 36.875rem;
  margin: 0 auto;
}

.info-story__image {
  width: 100%;
}

.info-story__image img {
  width: 100%;
}

.review-story {
  position: relative;
}

.review-story__body {
  position: relative;
}

.review-story__image-ibg {
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  z-index: -1;
}

.review-story__text {
  max-width: 24.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
}

.decore-review-story__item {
  position: absolute;
}

.decore-review-story__item--02 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.decore-review-story__item--04 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.decore-review-story__star--01 {
  top: calc(50% - 1.09375rem);
}

.decore-review-story__star--02 {
  left: calc(50% - 1.09375rem);
}

.decore-review-story__star--03 {
  top: calc(50% - 1.09375rem);
}

.decore-review-story__star--04 {
  left: calc(50% - 18px);
}

.name__container {
  position: relative;
  height: 100%;
}

.name__decore {
  z-index: -1;
  max-width: 100%;
  position: absolute;
}

.name__decore img {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.name__body {
  position: relative;
  z-index: 2;
}

@media (min-width: 47.99875em) {
  .hero__images {
    padding-right: 1.375rem;
  }

  .hero__images::after {
    border-right: 1px solid #000;
    height: 100%;
    width: 0.0625rem;
    top: 0;
  }

  .hero__info {
    padding-left: 1.1875rem;
  }
}

@media (min-width: 53.125em) {
  .menu {
    position: relative;
    z-index: 5;
  }
}

@media (min-width: 87.5em) {
  .title {
    font-size: 3.625rem;
  }

  .title--small {
    font-size: 2rem;
  }

  .stroke {
    min-height: 4.875rem;
  }

  .stroke::before,
  .stroke::after {
    left: -1.25rem;
  }

  .header {
    min-height: 6.875rem;
  }

  .header__container {
    min-height: 6.875rem;
  }

  .header__logo {
    padding-right: 2.3125rem;
  }

  .header__logo {
    padding-left: 2.3125rem;
  }

  .menu__body {
    row-gap: 1.875rem;
  }

  .hero {
    padding-top: 6.875rem;
  }

  .hero__name {
    padding-top: 1.5rem;
  }

  .hero__name {
    padding-bottom: 1.375rem;
  }

  .hero__image {
    padding-top: 1.25rem;
  }

  .hero__image {
    padding-bottom: 1.875rem;
  }

  .hero__title {
    padding-top: 1.5rem;
  }

  .hero__title:not(:last-child) {
    padding-bottom: 0.9375rem;
  }

  .hero__info-image {
    padding-top: 1.25rem;
  }

  .hero__info-image {
    padding-bottom: 1.875rem;
  }

  .hero__info-image::after {
    left: -1.3125rem;
  }

  .throwlava__container {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .throwlava__container {
    padding-top: 3.625rem;
  }

  .throwlava__container {
    padding-bottom: 3.625rem;
  }

  .items__container {
    padding-top: 1.25rem;
  }

  .items__container {
    padding-bottom: 1.25rem;
  }

  .items__container {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .item__body {
    padding-left: 1.25rem;
  }

  .item__body {
    padding-right: 1.25rem;
  }

  .item__subtitle:not(:last-child) {
    padding-bottom: 0.875rem;
  }

  .item__title:not(:last-child) {
    padding-bottom: 0.8125rem;
  }

  .story__container {
    padding-bottom: 3.125rem;
  }

  .story__info {
    border-right: 1px solid #000;
    -webkit-transform: translateX(-1.1875rem);
        -ms-transform: translateX(-1.1875rem);
            transform: translateX(-1.1875rem);
    width: calc(100% + 1.1875rem);
  }

  .story__review {
    width: calc(100% + 1.1875rem);
  }

  .info-story {
    padding-top: 3.4375rem;
  }

  .info-story__title:not(:last-child) {
    padding-bottom: 2.8125rem;
  }

  .review-story__text {
    padding-top: 8.4375rem;
  }

  .review-story__text {
    margin-bottom: 6.25rem;
  }

  .review-story__text {
    font-size: 1rem;
  }

  .review-story__text p:not(:last-child) {
    padding-bottom: 1.375rem;
  }

  .decore-review-story__item--01 {
    left: 4.0625rem;
  }

  .decore-review-story__item--01 {
    top: 1.5625rem;
  }

  .decore-review-story__item--02 {
    right: 4.0625rem;
  }

  .decore-review-story__item--02 {
    top: 1.5625rem;
  }

  .decore-review-story__item--03 {
    left: 4.0625rem;
  }

  .decore-review-story__item--03 {
    bottom: 1.875rem;
  }

  .decore-review-story__item--04 {
    right: 4.0625rem;
  }

  .decore-review-story__item--04 {
    bottom: 1.875rem;
  }

  .decore-review-story__star--01 {
    left: 4.375rem;
  }

  .decore-review-story__star--02 {
    top: 4.375rem;
  }

  .decore-review-story__star--03 {
    right: 4.375rem;
  }

  .decore-review-story__star--04 {
    bottom: 4.375rem;
  }

  .name__decore {
    padding-top: 1.25rem;
  }

  .name__decore {
    padding-bottom: 1.25rem;
  }

  .name__body {
    padding-top: 12.5rem;
  }

  .name__body {
    padding-bottom: 12.5rem;
  }
}

@media (min-width: 62em) {
  .title--big {
    font-size: 2.3125rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }

  .title--small {
    font-size: 1.25rem;
  }

  .stroke {
    min-height: 2.5rem;
  }

  .stroke::before,
  .stroke::after {
    left: 0.0000000625rem;
  }

  .header {
    min-height: 4.6875rem;
  }

  .header__container {
    min-height: 4.6875rem;
  }

  .header__logo {
    padding-right: 1.5625rem;
  }

  .header__logo {
    padding-left: 1.5625rem;
  }

  .menu__body {
    row-gap: 0.9375rem;
  }

  .hero {
    padding-top: 4.6875rem;
  }

  .hero__name {
    padding-top: 0.625rem;
  }

  .hero__name {
    padding-bottom: 0.625rem;
  }

  .hero__image {
    padding-top: 0.625rem;
  }

  .hero__image {
    padding-bottom: 0.9375rem;
  }

  .hero__title {
    padding-top: 0.625rem;
  }

  .hero__title:not(:last-child) {
    padding-bottom: 0.625rem;
  }

  .hero__info-image {
    padding-top: 0.625rem;
  }

  .hero__info-image {
    padding-bottom: 0.9375rem;
  }

  .hero__info-image::after {
    left: -1.25rem;
  }

  .throwlava__container {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .throwlava__container {
    padding-top: 1.875rem;
  }

  .throwlava__container {
    padding-bottom: 1.875rem;
  }

  .items__container {
    padding-top: 0.625rem;
  }

  .items__container {
    padding-bottom: 0.625rem;
  }

  .items__container {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .item__body {
    padding-top: 4.375rem;
  }

  .item__body {
    padding-left: 0.625rem;
  }

  .item__body {
    padding-right: 0.625rem;
  }

  .item__subtitle:not(:last-child) {
    padding-bottom: 0.625rem;
  }

  .item__title:not(:last-child) {
    padding-bottom: 0.625rem;
  }

  .story__container {
    padding-bottom: 3.125rem;
  }

  .info-story {
    padding-top: 1.875rem;
  }

  .info-story__title:not(:last-child) {
    padding-bottom: 1.875rem;
  }

  .review-story__text {
    padding-top: 2.1875rem;
  }

  .review-story__text {
    margin-bottom: 3.125rem;
  }

  .review-story__text {
    font-size: 0.875rem;
  }

  .review-story__text p:not(:last-child) {
    padding-bottom: 0.625rem;
  }

  .decore-review-story__item--01 {
    left: 4.25rem;
  }

  .decore-review-story__item--01 {
    top: 1.5625rem;
  }

  .decore-review-story__item--02 {
    right: 4.25rem;
  }

  .decore-review-story__item--02 {
    top: 1.5625rem;
  }

  .decore-review-story__item--03 {
    left: 4.25rem;
  }

  .decore-review-story__item--03 {
    bottom: 1.5625rem;
  }

  .decore-review-story__item--04 {
    right: 4.25rem;
  }

  .decore-review-story__item--04 {
    bottom: 1.5625rem;
  }

  .decore-review-story__star--01 {
    left: 4.25rem;
  }

  .decore-review-story__star--02 {
    top: 4.25rem;
  }

  .decore-review-story__star--03 {
    right: 4.25rem;
  }

  .decore-review-story__star--04 {
    bottom: 4.25rem;
  }

  .name__decore {
    padding-top: 0.3125rem;
  }

  .name__decore {
    padding-bottom: 0.3125rem;
  }

  .name__body {
    padding-top: 1.25rem;
  }

  .name__body {
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 87.5em) {
  .image__container img {
    width: calc(100% + 3.125rem);
    -webkit-transform: translateX(-1.25rem);
        -ms-transform: translateX(-1.25rem);
            transform: translateX(-1.25rem);
  }

  .story__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .review-story__image-ibg {
    display: none;
  }

  .decore-review-story {
    display: none;
  }

  .name__container {
    padding: 0;
  }
}

@media (max-width: 78.125em) {
  .items__container {
    -ms-grid-columns: (minmax(18.125rem, 43.75rem))[2];
    grid-template-columns: repeat(2, minmax(18.125rem, 43.75rem));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .item {
    max-width: 27.25rem;
  }
}

@media (max-width: 78.125em) and (max-width: 20em) {
  .items__container {
    row-gap: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .name__container {
    padding: 0 1.25rem;
  }

  .name__decore {
    display: none;
  }
}

@media (max-width: 53.125em) {
  .header__container {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
  }

  .menu {
    overflow: auto;
    padding: 5rem 0.625rem 1.875rem 0.625rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu {
    left: 0%;
    text-align: center;
    row-gap: 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #F9F3F1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .items__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 53.125em) and (max-width: 20em) {
  .menu-open .menu__link {
    font-size: 1.125rem;
  }

  .menu__list {
    row-gap: 0.9375rem;
  }
}

@media (max-width: 53.125em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.9375em) {
  .title--big {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  .hero__container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .hero__images::after {
    border-right: 1px solid transparent;
    border-bottom: 1px solid #000;
    left: -1.375rem;
    width: calc(100% + 2.625em);
  }

  .hero__info-image::after {
    width: calc(100% + 7.5em);
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .hero__container {
    row-gap: 1.875rem;
  }

  .hero__info-image::after {
    left: -1.875rem;
  }
}

@media (min-width: 20em) and (max-width: 87.5em) {
@supports (font-size: clamp( 2rem , 1.5185185185rem  +  2.4074074074vw , 3.625rem )) {
    .title {
      font-size: clamp( 2rem , 1.5185185185rem  +  2.4074074074vw , 3.625rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.5185185185rem  +  2.4074074074vw , 3.625rem )) {
    .title {
      font-size: calc(2rem + 1.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0277777778rem  +  1.1111111111vw , 2rem )) {
    .title--small {
      font-size: clamp( 1.25rem , 1.0277777778rem  +  1.1111111111vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0277777778rem  +  1.1111111111vw , 2rem )) {
    .title--small {
      font-size: calc(1.25rem + 0.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (min-height: clamp( 2.5rem , 1.7962962963rem  +  3.5185185185vw , 4.875rem )) {
    .stroke {
      min-height: clamp( 2.5rem , 1.7962962963rem  +  3.5185185185vw , 4.875rem );
    }
}

@supports not (min-height: clamp( 2.5rem , 1.7962962963rem  +  3.5185185185vw , 4.875rem )) {
    .stroke {
      min-height: calc(2.5rem + 2.375 * (100vw - 20rem) / 67.5);
    }
}

@supports (left: clamp( -1.25rem , 0.3703704514rem  +  -1.8518519444vw , 0.0000000625rem )) {
    .stroke::before,
    .stroke::after {
      left: clamp( -1.25rem , 0.3703704514rem  +  -1.8518519444vw , 0.0000000625rem );
    }
}

@supports not (left: clamp( -1.25rem , 0.3703704514rem  +  -1.8518519444vw , 0.0000000625rem )) {
    .stroke::before,
    .stroke::after {
      left: calc(0.0000000625rem + -1.2500000625 * (100vw - 20rem) / 67.5);
    }
}

@supports (min-height: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem )) {
    .header {
      min-height: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem );
    }
}

@supports not (min-height: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem )) {
    .header {
      min-height: calc(4.6875rem + 2.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (min-height: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem )) {
    .header__container {
      min-height: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem );
    }
}

@supports not (min-height: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem )) {
    .header__container {
      min-height: calc(4.6875rem + 2.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-right: clamp( 1.5625rem , 1.3402777778rem  +  1.1111111111vw , 2.3125rem )) {
    .header__logo {
      padding-right: clamp( 1.5625rem , 1.3402777778rem  +  1.1111111111vw , 2.3125rem );
    }
}

@supports not (padding-right: clamp( 1.5625rem , 1.3402777778rem  +  1.1111111111vw , 2.3125rem )) {
    .header__logo {
      padding-right: calc(1.5625rem + 0.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-left: clamp( 1.5625rem , 1.3402777778rem  +  1.1111111111vw , 2.3125rem )) {
    .header__logo {
      padding-left: clamp( 1.5625rem , 1.3402777778rem  +  1.1111111111vw , 2.3125rem );
    }
}

@supports not (padding-left: clamp( 1.5625rem , 1.3402777778rem  +  1.1111111111vw , 2.3125rem )) {
    .header__logo {
      padding-left: calc(1.5625rem + 0.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .menu__body {
      row-gap: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .menu__body {
      row-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem )) {
    .hero {
      padding-top: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 4.6875rem , 4.0393518519rem  +  3.2407407407vw , 6.875rem )) {
    .hero {
      padding-top: calc(4.6875rem + 2.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3657407407rem  +  1.2962962963vw , 1.5rem )) {
    .hero__name {
      padding-top: clamp( 0.625rem , 0.3657407407rem  +  1.2962962963vw , 1.5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3657407407rem  +  1.2962962963vw , 1.5rem )) {
    .hero__name {
      padding-top: calc(0.625rem + 0.875 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4027777778rem  +  1.1111111111vw , 1.375rem )) {
    .hero__name {
      padding-bottom: clamp( 0.625rem , 0.4027777778rem  +  1.1111111111vw , 1.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4027777778rem  +  1.1111111111vw , 1.375rem )) {
    .hero__name {
      padding-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .hero__image {
      padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .hero__image {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .hero__image {
      padding-bottom: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .hero__image {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.3657407407rem  +  1.2962962963vw , 1.5rem )) {
    .hero__title {
      padding-top: clamp( 0.625rem , 0.3657407407rem  +  1.2962962963vw , 1.5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.3657407407rem  +  1.2962962963vw , 1.5rem )) {
    .hero__title {
      padding-top: calc(0.625rem + 0.875 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5324074074rem  +  0.462962963vw , 0.9375rem )) {
    .hero__title:not(:last-child) {
      padding-bottom: clamp( 0.625rem , 0.5324074074rem  +  0.462962963vw , 0.9375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5324074074rem  +  0.462962963vw , 0.9375rem )) {
    .hero__title:not(:last-child) {
      padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .hero__info-image {
      padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .hero__info-image {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .hero__info-image {
      padding-bottom: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .hero__info-image {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (left: clamp( -1.3125rem , -1.2314814815rem  +  -0.0925925926vw , -1.25rem )) {
    .hero__info-image::after {
      left: clamp( -1.3125rem , -1.2314814815rem  +  -0.0925925926vw , -1.25rem );
    }
}

@supports not (left: clamp( -1.3125rem , -1.2314814815rem  +  -0.0925925926vw , -1.25rem )) {
    .hero__info-image::after {
      left: calc(-1.25rem + -0.0625 * (100vw - 20rem) / 67.5);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem )) or (column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem ))) {
    .throwlava__container {
      -webkit-column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem );
         -moz-column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem );
              column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem )) or (column-gap: clamp( 0.625rem , 0.3472222222rem  +  1.3888888889vw , 1.5625rem ))) {
    .throwlava__container {
      -webkit-column-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 67.5);
         -moz-column-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 67.5);
              column-gap: calc(0.625rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.3564814815rem  +  2.5925925926vw , 3.625rem )) {
    .throwlava__container {
      padding-top: clamp( 1.875rem , 1.3564814815rem  +  2.5925925926vw , 3.625rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.3564814815rem  +  2.5925925926vw , 3.625rem )) {
    .throwlava__container {
      padding-top: calc(1.875rem + 1.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3564814815rem  +  2.5925925926vw , 3.625rem )) {
    .throwlava__container {
      padding-bottom: clamp( 1.875rem , 1.3564814815rem  +  2.5925925926vw , 3.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3564814815rem  +  2.5925925926vw , 3.625rem )) {
    .throwlava__container {
      padding-bottom: calc(1.875rem + 1.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .items__container {
      padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .items__container {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .items__container {
      padding-bottom: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .items__container {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem ))) {
    .items__container {
      -webkit-column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem );
              column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.7523148148rem  +  0.9259259259vw , 1.5625rem ))) {
    .items__container {
      -webkit-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 67.5);
         -moz-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 67.5);
              column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .item__body {
      padding-left: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .item__body {
      padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .item__body {
      padding-right: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.4398148148rem  +  0.9259259259vw , 1.25rem )) {
    .item__body {
      padding-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5509259259rem  +  0.3703703704vw , 0.875rem )) {
    .item__subtitle:not(:last-child) {
      padding-bottom: clamp( 0.625rem , 0.5509259259rem  +  0.3703703704vw , 0.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5509259259rem  +  0.3703703704vw , 0.875rem )) {
    .item__subtitle:not(:last-child) {
      padding-bottom: calc(0.625rem + 0.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.5694444444rem  +  0.2777777778vw , 0.8125rem )) {
    .item__title:not(:last-child) {
      padding-bottom: clamp( 0.625rem , 0.5694444444rem  +  0.2777777778vw , 0.8125rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.5694444444rem  +  0.2777777778vw , 0.8125rem )) {
    .item__title:not(:last-child) {
      padding-bottom: calc(0.625rem + 0.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem )) {
    .story__container {
      padding-bottom: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 3.125rem  +  0vw , 3.125rem )) {
    .story__container {
      padding-bottom: calc(3.125rem + 0 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.412037037rem  +  2.3148148148vw , 3.4375rem )) {
    .info-story {
      padding-top: clamp( 1.875rem , 1.412037037rem  +  2.3148148148vw , 3.4375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.412037037rem  +  2.3148148148vw , 3.4375rem )) {
    .info-story {
      padding-top: calc(1.875rem + 1.5625 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem )) {
    .info-story__title:not(:last-child) {
      padding-bottom: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.5972222222rem  +  1.3888888889vw , 2.8125rem )) {
    .info-story__title:not(:last-child) {
      padding-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 2.1875rem , 0.3356481481rem  +  9.2592592593vw , 8.4375rem )) {
    .review-story__text {
      padding-top: clamp( 2.1875rem , 0.3356481481rem  +  9.2592592593vw , 8.4375rem );
    }
}

@supports not (padding-top: clamp( 2.1875rem , 0.3356481481rem  +  9.2592592593vw , 8.4375rem )) {
    .review-story__text {
      padding-top: calc(2.1875rem + 6.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.1990740741rem  +  4.6296296296vw , 6.25rem )) {
    .review-story__text {
      margin-bottom: clamp( 3.125rem , 2.1990740741rem  +  4.6296296296vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.1990740741rem  +  4.6296296296vw , 6.25rem )) {
    .review-story__text {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.837962963rem  +  0.1851851852vw , 1rem )) {
    .review-story__text {
      font-size: clamp( 0.875rem , 0.837962963rem  +  0.1851851852vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.837962963rem  +  0.1851851852vw , 1rem )) {
    .review-story__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4027777778rem  +  1.1111111111vw , 1.375rem )) {
    .review-story__text p:not(:last-child) {
      padding-bottom: clamp( 0.625rem , 0.4027777778rem  +  1.1111111111vw , 1.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4027777778rem  +  1.1111111111vw , 1.375rem )) {
    .review-story__text p:not(:last-child) {
      padding-bottom: calc(0.625rem + 0.75 * (100vw - 20rem) / 67.5);
    }
}

@supports (left: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--01 {
      left: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem );
    }
}

@supports not (left: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--01 {
      left: calc(4.25rem + -0.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (top: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .decore-review-story__item--01 {
      top: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (top: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .decore-review-story__item--01 {
      top: calc(1.5625rem + 0 * (100vw - 20rem) / 67.5);
    }
}

@supports (right: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--02 {
      right: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem );
    }
}

@supports not (right: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--02 {
      right: calc(4.25rem + -0.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (top: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .decore-review-story__item--02 {
      top: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem );
    }
}

@supports not (top: clamp( 1.5625rem , 1.5625rem  +  0vw , 1.5625rem )) {
    .decore-review-story__item--02 {
      top: calc(1.5625rem + 0 * (100vw - 20rem) / 67.5);
    }
}

@supports (left: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--03 {
      left: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem );
    }
}

@supports not (left: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--03 {
      left: calc(4.25rem + -0.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (bottom: clamp( 1.5625rem , 1.4699074074rem  +  0.462962963vw , 1.875rem )) {
    .decore-review-story__item--03 {
      bottom: clamp( 1.5625rem , 1.4699074074rem  +  0.462962963vw , 1.875rem );
    }
}

@supports not (bottom: clamp( 1.5625rem , 1.4699074074rem  +  0.462962963vw , 1.875rem )) {
    .decore-review-story__item--03 {
      bottom: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 67.5);
    }
}

@supports (right: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--04 {
      right: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem );
    }
}

@supports not (right: clamp( 4.0625rem , 4.3055555556rem  +  -0.2777777778vw , 4.25rem )) {
    .decore-review-story__item--04 {
      right: calc(4.25rem + -0.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (bottom: clamp( 1.5625rem , 1.4699074074rem  +  0.462962963vw , 1.875rem )) {
    .decore-review-story__item--04 {
      bottom: clamp( 1.5625rem , 1.4699074074rem  +  0.462962963vw , 1.875rem );
    }
}

@supports not (bottom: clamp( 1.5625rem , 1.4699074074rem  +  0.462962963vw , 1.875rem )) {
    .decore-review-story__item--04 {
      bottom: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 67.5);
    }
}

@supports (left: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--01 {
      left: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem );
    }
}

@supports not (left: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--01 {
      left: calc(4.25rem + 0.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (top: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--02 {
      top: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem );
    }
}

@supports not (top: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--02 {
      top: calc(4.25rem + 0.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (right: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--03 {
      right: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem );
    }
}

@supports not (right: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--03 {
      right: calc(4.25rem + 0.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (bottom: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--04 {
      bottom: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem );
    }
}

@supports not (bottom: clamp( 4.25rem , 4.212962963rem  +  0.1851851852vw , 4.375rem )) {
    .decore-review-story__star--04 {
      bottom: calc(4.25rem + 0.125 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 0.3125rem , 0.0347222222rem  +  1.3888888889vw , 1.25rem )) {
    .name__decore {
      padding-top: clamp( 0.3125rem , 0.0347222222rem  +  1.3888888889vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.3125rem , 0.0347222222rem  +  1.3888888889vw , 1.25rem )) {
    .name__decore {
      padding-top: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 0.3125rem , 0.0347222222rem  +  1.3888888889vw , 1.25rem )) {
    .name__decore {
      padding-bottom: clamp( 0.3125rem , 0.0347222222rem  +  1.3888888889vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.3125rem , 0.0347222222rem  +  1.3888888889vw , 1.25rem )) {
    .name__decore {
      padding-bottom: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 1.25rem , -2.0833333333rem  +  16.6666666667vw , 12.5rem )) {
    .name__body {
      padding-top: clamp( 1.25rem , -2.0833333333rem  +  16.6666666667vw , 12.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -2.0833333333rem  +  16.6666666667vw , 12.5rem )) {
    .name__body {
      padding-top: calc(1.25rem + 11.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.0833333333rem  +  16.6666666667vw , 12.5rem )) {
    .name__body {
      padding-bottom: clamp( 1.25rem , -2.0833333333rem  +  16.6666666667vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.0833333333rem  +  16.6666666667vw , 12.5rem )) {
    .name__body {
      padding-bottom: calc(1.25rem + 11.25 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 62em) and (max-width: 120em) {
@supports (font-size: clamp( 2.3125rem , 0.4418103448rem  +  3.0172413793vw , 4.0625rem )) {
    .title--big {
      font-size: clamp( 2.3125rem , 0.4418103448rem  +  3.0172413793vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 2.3125rem , 0.4418103448rem  +  3.0172413793vw , 4.0625rem )) {
    .title--big {
      font-size: calc(2.3125rem + 1.75 * (100vw - 62rem) / 58);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 62em) {
@supports (font-size: clamp( 1.125rem , -2.9230555556rem  +  8.4444444444vw , 2.3125rem )) {
    .title--big {
      font-size: clamp( 1.125rem , -2.9230555556rem  +  8.4444444444vw , 2.3125rem );
    }
}

@supports not (font-size: clamp( 1.125rem , -2.9230555556rem  +  8.4444444444vw , 2.3125rem )) {
    .title--big {
      font-size: calc(1.125rem + 1.1875 * (100vw - 47.9375rem) / 14.0625);
    }
}
}

@media (max-width: 53.125em) and (min-width: 87.5em) {
  .menu-open .menu__link {
    font-size: 1.625rem;
  }

  .menu__list {
    row-gap: 1.875rem;
  }
}

@media (max-width: 53.125em) and (min-width: 20em) and (max-width: 87.5em) {
@supports (font-size: clamp( 1.125rem , 0.9768518519rem  +  0.7407407407vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: clamp( 1.125rem , 0.9768518519rem  +  0.7407407407vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9768518519rem  +  0.7407407407vw , 1.625rem )) {
    .menu-open .menu__link {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 67.5);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .menu__list {
      row-gap: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.6597222222rem  +  1.3888888889vw , 1.875rem )) {
    .menu__list {
      row-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 49.1875em) and (max-width: 120em) {
@supports ((-moz-column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem )) or (column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem );
         -moz-column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem );
              column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem )) or (column-gap: clamp( 0.625rem , -3.2822153575rem  +  7.9435127979vw , 6.25rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 5.625 * (100vw - 49.1875rem) / 70.8125);
         -moz-column-gap: calc(0.625rem + 5.625 * (100vw - 49.1875rem) / 70.8125);
              column-gap: calc(0.625rem + 5.625 * (100vw - 49.1875rem) / 70.8125);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 87.5em) {
  .hero__container {
    row-gap: 3.125rem;
  }

  .hero__info-image::after {
    left: -5.9375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 87.5em) {
@supports (row-gap: clamp( 1.875rem , 1.5046296296rem  +  1.8518518519vw , 3.125rem )) {
    .hero__container {
      row-gap: clamp( 1.875rem , 1.5046296296rem  +  1.8518518519vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 1.5046296296rem  +  1.8518518519vw , 3.125rem )) {
    .hero__container {
      row-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (left: clamp( -5.9375rem , -0.6712962963rem  +  -6.0185185185vw , -1.875rem )) {
    .hero__info-image::after {
      left: clamp( -5.9375rem , -0.6712962963rem  +  -6.0185185185vw , -1.875rem );
    }
}

@supports not (left: clamp( -5.9375rem , -0.6712962963rem  +  -6.0185185185vw , -1.875rem )) {
    .hero__info-image::after {
      left: calc(-1.875rem + -4.0625 * (100vw - 20rem) / 67.5);
    }
}
}

@media (max-width: 78.125em) and (min-width: 87.5em) {
  .items__container {
    row-gap: 3.75rem;
  }
}

@media (max-width: 78.125em) and (min-width: 20em) and (max-width: 87.5em) {
@supports (row-gap: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem )) {
    .items__container {
      row-gap: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 1.3194444444rem  +  2.7777777778vw , 3.75rem )) {
    .items__container {
      row-gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 67.5);
    }
}
}

@media (min-width: 20em) and (max-width: 29.9375em) {
@supports (padding-top: clamp( 4.375rem , -3.1721698113rem  +  37.7358490566vw , 8.125rem )) {
    .item__body {
      padding-top: clamp( 4.375rem , -3.1721698113rem  +  37.7358490566vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , -3.1721698113rem  +  37.7358490566vw , 8.125rem )) {
    .item__body {
      padding-top: calc(4.375rem + 3.75 * (100vw - 20rem) / 9.9375);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background: #f23f42;
  }

  .menu__link:hover::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .item__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}